.classpath
.project
.settings
.metadata
bin
bower_components
build
target
*.class
*.jar
*.war
*.ear
*.com
*.dll
*.exe
*.zip
*.o
*.so
.DS_Store
.Trashes
Thumbs.db
desktop.ini
*~
*.bak
*.qvw
*.qvd
*.ltz
*.xlg
*.xlz
/proger.rar
/.fatjar
/.project
