<settings xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
    http://maven.apache.org/xsd/settings-1.0.0.xsd">  

  <mirrors>
	<mirror>
		<id>mirror1</id>
		<mirrorOf>*</mirrorOf>
		<name>Maven2 official repo</name>
		<url>http://repo.maven.apache.org/maven2</url>
	</mirror>
    <mirror>
      <id>public</id>
      <url>http://www-nexus:8080/nexus/content/groups/public</url>
      <mirrorOf>*,!snapshots</mirrorOf>
    </mirror>
    <mirror>
      <id>snapshots</id>
      <url>http://www-nexus:8080/nexus/content/groups/public-snapshots</url>
      <mirrorOf>snapshots</mirrorOf>
    </mirror>
  </mirrors>    

  <servers>
    <server>
      <id>nexus.releases</id>
      <username>deployment</username>
      <password>deployment00</password>
    </server>
    <server>
      <id>nexus.snapshots</id>
      <username>deployment</username>
      <password>deployment00</password>
    </server>
  </servers>  
  <proxies>
        <proxy>
            <id>http</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>localhost</host>
            <port>3128</port>
            <nonProxyHosts>localhost</nonProxyHosts>
        </proxy>
        <proxy>
            <id>https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>localhost</host>
            <port>3128</port>
            <nonProxyHosts></nonProxyHosts>
        </proxy>
</proxies>
  

</settings>
